.cc-custom-panel {
  flex: 1;
  padding: 10px;
  padding-top: 0px;
  overflow-y: auto;
  overflow-x: hidden;
}
.comp-list {
  padding: 0;
}
.comp-list li .name:hover .desc {
  display: inline;
}
.comp-list .desc {
  display: none;
  position: absolute;
  transform: translate(1em, -150%);
  max-width: 20em;
}